<!DOCTYPE html>
<html>
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
   <h1>注文内容</h1>
    <p>
      お届け先: <%= @order.address %>
    </p>
    <p>
      商品: <%= @order.book_id %>
    </p>
    <p>
      数量: <%= @order.quantity %>
    </p>
 </body>
</html>
